<div class="mb-3 gap-5 ">
    <div class="flex flex-col md:flex-row md:items-center gap-3 mb-3">
        <h2 class=" text-xl font-semibold text-[#004D00]">HISTORIAL DE RECORDATORIOS</h2>
        <p class="font-light">(Observa el historial de recordatorios vigentes )</p>
    </div>

    <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-semibold text-[#000000]">
            {{ mostrarVigencia ? 'Recordatorios Programados' : ' Historial de Recordatorios' }}
        </h2>

        <button (click)="toggleVista()"
            class="bg-[#7ce54f] text-black font-semibold px-4 py-2 rounded-full hover:bg-[#0d542b] hover:text-white">
            {{ mostrarVigencia ? 'HISTORIAL' : 'PROGRAMADOS' }}
        </button>
    </div>

    <div class="max-h-[1000px] overflow-y-auto overflow-x-auto m-4 mx-auto w-full border-4 border-zinc-400 rounded-lg">
        <table class="min-w-full border-collapse text-sm">
            <thead class="bg-zinc-400 text-zinc-800 font-oswald">
                <tr class="bg-zinc-400 text-lg text-center font-semibold">
                    <th class="px-4 py-2">ID</th>
                    <th class="px-4 py-2">Cliente</th>
                    <th class="px-4 py-2">Evento</th>
                    <th class="px-4 py-2">Fecha</th>
                    <th class="px-4 py-2">Tipo</th>
                    <th class="px-4 py-2">Frecuencia</th>
                    <th class="px-4 py-2">Estado</th>
                    <th class="px-4 py-2">Acciones</th>
                </tr>
            </thead>

            <tbody class="divide-y divide-zinc-400 border-collapse rounded-full">
                <!-- 🔍 Si hay resultados -->
                @if (recordatorio.length > 0) {
                @for (r of recordatorio; track r.ID_RECORDATORIO) {
                <tr class="bg-white text-lg text-center hover:bg-[#E1E1E1]">
                    <td class="px-4 py-2">{{ r.ID_RECORDATORIO }}</td>
                    <td class="px-4 py-2">{{ r.NOMBRE_CLIENTE }}</td>
                    <td class="px-4 py-2">{{ r.NOMBRE_EVENTO }}</td>
                    <td class="px-4 py-2">{{ r.FECHA_HORA }}</td>
                    <td class="px-4 py-2">{{ r.TIPO_NOTIFICACION }}</td>
                    <td class="px-4 py-2">{{ r.FRECUENCIA }}</td>
                    <td class="px-4 py-2">{{ r.ESTADO }}</td>
                    <td class="px-4 py-2">
                        <div class="flex justify-center">
                            <button type="button" [disabled]="enviando === r.ID_RECORDATORIO"
                                class="p-2 rounded-full transition text-black hover:bg-[#7ce54b] hover:text-white"
                                (click)="enviarRecordatorio(r)">
                                @if (enviando === r.ID_RECORDATORIO) {
                                <i class="fas fa-spinner fa-spin text-2xl text-[#7ce54b]"></i>
                                } @else if (enviado === r.ID_RECORDATORIO) {
                                <i class="fas fa-check text-2xl text-[#7ce54b]"></i>
                                } @else {
                                <i class="fas fa-share-alt text-2xl"></i>
                                }
                            </button>

                            <button type="button" (click)="eliminarRecordatorio(r.ID_RECORDATORIO)"
                                class="p-2 rounded-full text-black hover:bg-[#7ce54b] hover:text-white transition">
                                <i class="fas fa-trash text-2xl"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                }
                }
                <!-- ❌ Si no hay resultados -->
                @else {
                <tr class="bg-white text-center text-lg  ">
                    <td colspan="8" class="px-4 py-4 text-zinc-500">
                        No hay recordatorios {{ mostrarVigencia ? 'programados' : 'en el historial' }}.
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>






</div>