<div class="w-full sm:w-[90%] lg:w-[70%] mx-auto p-6 space-y-6">
    <h2 class="text-2xl font-bold">
        Bienvenido(a) {{ tipoUsuario | titlecase }}(a) {{ nombreCompleto }}
    </h2>

    <app-administrador *ngIf="tipoUsuario === 'Administrador'"></app-administrador>
    <app-asistente-admon *ngIf="tipoUsuario === 'Asistente-admon'"></app-asistente-admon>
    <app-asistente-salud-deportiva *ngIf="tipoUsuario === 'Asistente-salud-deportiva'"></app-asistente-salud-deportiva>
    <app-usuario *ngIf="tipoUsuario === 'Usuario'"></app-usuario>
</div>