<div class="w-full  mx-auto bg-white px-20">
    <h2 class="text-2xl font-bold text-[#004D00] mb-6 uppercase">
        Datos del evento
    </h2>

    <!-- <pre class="text-xs text-shadow-green-700 text-left">{{ data | json }}</pre> -->


    <form class="space-y-5 ">

        <!-- Nombre de evento -->
        <p class="text-[#404040]">(Por favor, escriba el evento con fecha. Ejm: Crossfit 30/11/2025 )</p>
        <div class="flex flex-wrap gap-3 sm: flex-row">

            <h3 class="block text-gray-800 font-semibold text-2xl  w-[200px] ">Evento:</h3>
            <div>
                <input type="text" name="nombre_evento" placeholder="Escribe el evento" [(ngModel)]="nombre_evento"
                    class="w-[250px] bg-[#e1e1e1] rounded-full px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500"
                    [ngClass]="{'border-red-500 border-2': mostrarError && !nombre_evento}" />
                @if (mostrarError && !nombre_evento) {
                <small class="text-red-500 flex  ">Campo obligatorio</small>}
            </div>

        </div>
        <!-- Fecha del evento -->
        <div class="flex flex-wrap gap-3 sm: flex-row">
            <h3 class="block text-gray-800 font-semibold text-2xl w-[200px] ">Fecha del evento:</h3>
            <div>
                <input type="date" name="fecha_actividad" [(ngModel)]="fecha_actividad" required
                    class="w-[250px] bg-[#e1e1e1] rounded-full px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500"
                    [ngClass]="{'border-red-500 border-2': mostrarError && !fecha_actividad}" />
                @if (mostrarError && !fecha_actividad) {
                <small class="text-red-500 flex  ">Campo obligatorio</small>}
            </div>

        </div>

        <!-- Hora inicio -->
        <div class="flex flex-wrap gap-3 sm: flex-row">
            <h3 class="block text-gray-800 font-semibold text-2xl w-[200px] ">Hora inicio:</h3>
            <div>
                <input type="time" name="HoraInicio" [(ngModel)]="hora_inicio"
                    class="w-[250px] bg-[#e1e1e1] rounded-full px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500"
                    [ngClass]="{'border-red-500 border-2': mostrarError && !hora_inicio}" />
                @if (mostrarError && !hora_inicio) {
                <small class="text-red-500 flex  ">Campo obligatorio</small>}
            </div>

        </div>

        <!-- Hora final -->
        <div class="flex flex-wrap gap-3 sm: flex-row">
            <h3 class="block text-gray-800 font-semibold text-2xl w-[200px] ">Hora final:</h3>
            <div>
                <input type="time" name="HoraFinal" [(ngModel)]="hora_fin"
                    class="w-[250px] bg-[#e1e1e1] rounded-full px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500"
                    [ngClass]="{'border-red-500 border-2': mostrarError && !hora_inicio}" />
                @if (mostrarError && !hora_fin) {
                <small class="text-red-500 flex  ">Campo obligatorio</small>}
            </div>

        </div>

        <!-- Instructor -->
        <div class="flex flex-wrap gap-3 sm: flex-row">
            <h3 class="block text-gray-800 font-semibold text-2xl w-[200px] ">Instructor:</h3>
            <div>
                <input type="text" name="HoraFinal" placeholder="Escribe el instructor" [(ngModel)]="instructor"
                    class="w-[250px] bg-[#e1e1e1] rounded-full px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500"
                    [ngClass]="{'border-red-500 border-2': mostrarError && !instructor}" />
                @if (mostrarError && !instructor) {
                <small class="text-red-500 flex  ">Campo obligatorio</small>}
            </div>

        </div>

        <!-- Lugar del evento -->
        <div class="flex flex-wrap gap-3 sm: flex-row">
            <h3 class="block text-gray-800 font-semibold text-2xl w-[200px] ">Lugar del evento:</h3>
            <div>
                <input type="text" name="LugarEvento" placeholder="Escribe el lugar del evento"
                    [(ngModel)]="lugar_de_actividad"
                    class="w-[250px] bg-[#e1e1e1] rounded-full px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500"
                    [ngClass]="{'border-red-500 border-2': mostrarError && !lugar_de_actividad}" />
                @if (mostrarError && !lugar_de_actividad) {
                <small class="text-red-500 flex  ">Campo obligatorio</small>}
            </div>

        </div>
        <!-- Observaciones -->
        <div class="flex flex-wrap gap-3 sm: flex-row">
            <h3 class="block text-gray-800 font-semibold text-2xl w-[200px] ">Observaciones:</h3>
            <input type="text" name="Observaciones" placeholder="Escribe alguna observación" [(ngModel)]="observaciones"
                class="w-2xl bg-[#e1e1e1] rounded-full px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500" />
        </div>

        @if(mostrarGenerarQr){
        <!-- QR del evento -->
        <div class="flex flex-wrap gap-3 sm: flex-row">
            <h3 class="block text-gray-800 font-semibold text-2xl w-[200px] ">QR del evento:</h3>
            <button type="button" (click)="generarQR()"
                class="bg-[#7ce54b] font-semibold text-black px-6 py-2 rounded-full hover:bg-[#0d542b] hover:text-white transition">
                GENERAR QR
            </button>
        </div>
        }




        <!-- Botones -->
        <div class="flex flex-wrap justify-end gap-2 pt-6">
            @if (mostrarGenerarQr) {
            <button (click)="cerrarVentana()" [disabled]="eventoGuardado && !qrGenerado"
                class="bg-black text-white font-semibold px-6 py-2 rounded-full hover:bg-gray-800 transition w-full sm:w-auto disabled:opacity-50 disabled:cursor-not-allowed">
                CERRAR
            </button>
            }
            @if (!eventoGuardado) {
            <button type="button" (click)="cancelarRegistro()"
                class="bg-black text-white font-semibold px-6 py-2 rounded-full hover:bg-gray-800 transition w-full sm:w-auto">
                CANCELAR
            </button>}

            @if (!eventoGuardado) {
            <button type="button" (click)="guardarEvento()"
                class="bg-[#7ce54b] font-semibold text-black px-6 py-2 rounded-full hover:bg-[#0d542b] hover:text-white transition w-full sm:w-auto">
                GUARDAR
            </button>
            }
        </div>

    </form>
</div>