<div class="flex flex-col text-center gap-2">

  <div #qrContainer>
    @if (qrUrl) {
      <div class="flex flex-col items-center justify-center">
        <img [src]="qrUrl" alt="Código QR del evento" class="mx-auto w-48 h-48 border-4 border-zinc-400 rounded-xl shadow-md" />
        <p class="text-sm text-gray-600 mt-2">Escanea este código para registrar la asistencia.</p>
      </div>
    } 
    @else {
      <p class="text-gray-500 mt-4 italic">
        ❌ No hay código QR disponible para este evento.
      </p>
    }
  </div>

  <div class="w-full flex justify-end gap-2 mt-6">
    <button (click)="cerrarVentana()"
      class="bg-black rounded-full px-6 py-2 font-semibold text-white hover:bg-gray-800">
      CERRAR
    </button>

    @if (qrUrl) {
      <button (click)="descargarPDF()"
        class="bg-[#7ce54b] text-black font-semibold rounded-full px-6 py-2 hover:text-white hover:bg-[#004D00]">
        DESCARGAR PDF
      </button>
    }
  </div>

</div>
