<div class="mb-3 gap-5">

  <!-- TÍTULO -->
  <div class="flex flex-col md:flex-row md:items-center gap-3 mb-6">
    <h2 class="text-xl font-semibold text-[#004D00]">
      COMPARACIÓN FOTOGRÁFICA
    </h2>
    <p class="font-light text-sm text-[#404040] md:ml-3">
      (Seleccione 2 fotos del mismo perfil corporal y fechas distintas)
    </p>
  </div>

  <!-- FORMULARIO -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

    <!-- ID Usuario -->
    <div class="md:col-span-2">
      <h3 class="text-black font-semibold text-2xl">ID del usuario:</h3>

      <div class="bg-[#E1E1E1] rounded-full flex items-center w-full md:w-64">
        <input
          [(ngModel)]="terminoBusqueda"
          type="text"
          placeholder="Buscar cliente por documento..."
          class="flex-1 outline-none text-sm pl-5 py-2 bg-transparent"
        />
        <button (click)="buscarCliente()" class="cursor-pointer pr-3">
          <img src="assets/images/asistencia/lupa.png" class="w-9 h-9">
        </button>
      </div>
    </div>

    <!-- Tipo de perfil -->
    <div>
      <h3 class="text-black font-semibold text-2xl">Tipo de perfil:</h3>
      <select [(ngModel)]="tipoPerfil" class="w-full bg-[#E1E1E1] rounded-full px-4 py-2 mt-1 text-sm">
        <option value="" disabled selected>Seleccione perfil...</option>
        <option>Frontal</option>
        <option>Lateral</option>
        <option>Posterior</option>
      </select>
    </div>

    <!-- Fecha 1 -->
    <div>
      <h3 class="text-black font-semibold text-2xl">Fecha registrada Uno:</h3>
      <select [(ngModel)]="fechaUno" (change)="seleccionarFechaUno()"
        class="w-full bg-[#E1E1E1] rounded-full px-4 py-2 mt-1 text-sm">
        <option value="">-- Seleccione fecha --</option>
        <option *ngFor="let f of fechas">{{ f }}</option>
      </select>
    </div>

    <!-- Fecha 2 -->
    <div>
      <h3 class="text-black font-semibold text-2xl">Fecha registrada Dos:</h3>
      <select [(ngModel)]="fechaDos" (change)="seleccionarFechaDos()"
        class="w-full bg-[#E1E1E1] rounded-full px-4 py-2 mt-1 text-sm">
        <option value="">-- Seleccione fecha --</option>
        <option *ngFor="let f of fechas">{{ f }}</option>
      </select>
    </div>

  </div>

  <!-- RESULTADO -->
  <div *ngIf="fotoUno && fotoDos" class="border rounded-xl p-4 bg-gray-100">

    <div class="flex justify-center items-center relative h-96">

      <!-- Foto inferior -->
      <img [src]="fotoUno"
        class="absolute top-0 left-0 right-0 bottom-0 w-auto h-full mx-auto rounded-lg shadow">

      <!-- Foto superior con opacidad -->
      <img [src]="fotoDos"
        [style.opacity]="sliderValue / 100"
        class="absolute top-0 left-0 right-0 bottom-0 w-auto h-full mx-auto rounded-lg shadow">
    </div>

    <button
  type="button"
  (click)="cancelarAccion()"
  class="bg-black text-white font-semibold 
         px-4 py-2 rounded-full 
         hover:bg-gray-800 transition active:scale-95">
  CANCELAR
</button>



    <!-- Slider -->
    <div class="mt-4">
      <input
        type="range"
        min="0"
        max="100"
        [(ngModel)]="sliderValue"
        class="w-full accent-green-600"
      />
    </div>

  </div>

</div>
